/* Charte graphique Couleurs : */

/* Color light red*/
$color-primary: #FF6060;
/* Color dark red */
$color-secondary: #8E342F;

$color-white: white;
$color-black: black;

$color-gray: gray;
$color-lightgray: #F6F6F6;
$color-darkgray: #A9A9A9;

// Theme jour-nuit pour le boutton dans footer
$color-backgroundLight: #F9F9FC;
$color-backgroundDark: #4F4C6B;
